# PostgreSQL
POSTGRES_USER=l3d
POSTGRES_PASSWORD=postgres
POSTGRES_DB=l3d
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_USER=l3d
RABBITMQ_PASSWORD=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# MinIO
MINIO_ROOT_USER=l3d
MINIO_ROOT_PASSWORD=minio
MINIO_S3_PORT=9000
MINIO_DASHBOARD_PORT=9001
