# PostgreSQL
DATABASE_URL=postgresql://l3d:postgres@localhost:5432/l3d?schema=public
POSTGRES_USER=l3d
POSTGRES_PASSWORD=postgres
POSTGRES_DB=l3d
POSTGRES_PORT=5432

# API
SESSION_SECRET="12345678901234567890123456789012"

# Redis
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=redis
REDIS_PORT=6379
