# Dependencies
node_modules

# Build outputs
dist
build
coverage
.nyc_output
.temp
.tmp

# Prisma
packages/database/generated

# Turbo
.turbo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea

# OS
.DS_Store

# Runtime
*.pid
*.seed
*.pid.lock
report.*.json
